<div th:fragment="header">
    <div class="px-4 py-5 my-5 text-center">

        <div class="logo-holder">
            <img type="button" class="d-block mx-auto mb-4" src="https://kartinkin.net/uploads/posts/2022-12/1670113576_kartinkin-net-p-koshka-kartinka-bez-fona-krasivo-23.jpg" onclick="location.href='/';" alt="" width="72" height="57">
        </div>
        <h1 class="display-5 fw-bold">Кошатник</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">О кошках и как с ними жить</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-secondary btn-lg px-4 gap-3" onclick="location.href='/';">Главная</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="location.href='/blog';">Новости</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="location.href='/blog/add';">Добавить статью</button>
                <button type="button" class="btn btn-primary btn-lg px-4" onclick="location.href='/about';">О нас</button>
            </div>
        </div>
    </div>
</div>